<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contactus.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="box">
        <center>
            <h1>Book a call</h1>
            <h3>Book a call slot and our representative will call you within 1 hr of selected time.</h3>
        </center>
        </hr>
        <form action="/admin/success" method="POST">

            <label>
                Name:
            </label>
            <br>
            <input type="text" placeholder="Enter your Name">
            <br>

            <label>

                Email:

            </label>
            <br>
            <input type="text" placeholder="Enter your email">

            <br>
            <button type="submit">Submit</button>

        </form>

    </div>
    <%- include('includes/end.ejs') %>